.user {
  width: 48%;
  border: 1px solid #ccc;
  margin: 0.5rem;
  text-decoration: none;
  color: black;
}

.userName {
  font-weight: bold;
}

.userImg {
  width: 100%;
}

.userTextContent {
  padding: 0.3rem 0.5rem;
}

@media (min-width: 61.875rem) {
  .user {
    width: calc((100% - 4rem)/4);
  }
}
